page-planner-directions {
    #my-map {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .nearbyEntitySelection {
        position: absolute;
        color: #ffffff;
        font-weight: bold;
        background: #585858;
        bottom: calc(100% - 92%);
        left: calc(100% - 75%);
        z-index: 99;
        border-radius: 5px;
    }
    .nearbyPadding {
        padding: 2%;
    }
}