<!--
  Generated template for the PlannerDirectionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>Directions</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div #map id="my-map">
    </div>

    <div class="nearbyEntitySelection" [ngClass]="nearbyEntitySelected === '' ? 'noPadding' : 'nearbyPadding'">{{nearbyEntitySelected}}</div>
</ion-content>

<ion-footer color="primary">
    <div align="center">
        <nearby-locations (nearbyPlaces)="onGettingNearbyPlaces($event)" [nearbyEntities]="nearbyEntities" [lattitude]="currentLattitude" [longitude]="currentLongitude"></nearby-locations>
    </div>
</ion-footer>