<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-nav [root]="rootPage" hideBackButton="true" #content></ion-nav>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu" style="zoom:1.6;"> </ion-icon>
        </button>
        <ion-title>
            DC Ionic Maps
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-toolbar>
        <google-auto-complete-search [searchPlaceholder]="searchText" (onSearchSelected)="onSearchSelected($event)"></google-auto-complete-search>
    </ion-toolbar>

    <ion-menu [content]="content">
        <ion-content style="background-color: #474444">
            <ion-list>

                <ion-row class="row-margin" style="border-top: 0px">
                    <ion-icon name="time" class="icon-margin"></ion-icon>
                    <ion-col>
                        <div class="menu-labels-header">Departures</div>
                        <div class="menu-labels-content">What are the next departures or</div>
                        <div class="menu-labels-content">arrivals at a specific point?</div>
                    </ion-col>
                </ion-row>



                <ion-row class="row-margin" (click)="navigateToPage('PlannerPage', true)">
                    <ion-icon name="trending-up" class="icon-margin"></ion-icon>
                    <ion-col>
                        <div class="menu-labels-header">Planner</div>
                        <div class="menu-labels-content">How do i get from A to B?</div>
                    </ion-col>
                </ion-row>


                <ion-row class="row-margin">
                    <ion-icon name="warning" class="icon-margin"></ion-icon>
                    <ion-col>
                        <div class="menu-labels-header">Transport Updates</div>
                        <div class="menu-labels-content">What disruptions are currently affecting</div>
                        <div class="menu-labels-content">the transport network</div>
                    </ion-col>
                </ion-row>

                <ion-row class="row-margin">
                    <ion-icon name="settings" class="icon-margin"></ion-icon>
                    <ion-col>
                        <div class="menu-labels-header">Settings</div>
                        <div class="menu-labels-content">How can i adjust the app to my needs?</div>
                    </ion-col>
                </ion-row>

                <ion-row class="row-margin">
                    <ion-icon name="glasses" class="icon-margin"></ion-icon>
                    <ion-col>
                        <div class="menu-labels-header">Augmented Reality</div>
                    </ion-col>
                </ion-row>

                <ion-row class="row-margin">
                    <ion-icon name="thumbs-up" class="icon-margin"></ion-icon>
                    <ion-col>
                        <div class="menu-labels-header">Social Media</div>
                    </ion-col>
                </ion-row>

                <ion-row class="row-margin">
                    <ion-icon name="information-circle" class="icon-margin"></ion-icon>
                    <ion-col>
                        <div class="menu-labels-header">About RTA</div>
                    </ion-col>
                </ion-row>

                <ion-row class="row-margin">
                    <ion-icon name="call" class="icon-margin"></ion-icon>
                    <ion-col>
                        <div class="menu-labels-header">Contact RTA</div>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-content>
    </ion-menu>

    <div #map id="my-map">
    </div>

    <ion-fab bottom right>
        <button ion-fab mini (click)="loadMap()" icon-only>
              <ion-icon name="locate"></ion-icon>
          </button>
    </ion-fab>
</ion-content>