page-home {
    #my-map {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .menu-labels-header {
        font-weight: 700;
        color: whitesmoke;
        padding-bottom: 2%;
        padding-top: 2%;
    }
    .menu-labels-content {
        font-weight: 300;
        color: whitesmoke;
    }
    .icon-margin {
        margin: auto;
        color: whitesmoke
    }
    .row-margin {
        margin-top: 3%;
        border-top: 1px solid map-get($colors, light)
    }
    .infoWindowButton {
        width: 100%;
        background: map-get($colors, primary);
        padding: 2%;
        border-radius: 2%;
        color: whitesmoke
    }
    .infoWindow {
        padding: 3%;
        //font-size: 3vw
    }
}