<ion-header>
    <ion-navbar color="primary">
      <ion-title>Favourites</ion-title>
      <ion-buttons end>
        <button ion-button (click)="closeExplore();">Close</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <div>
        <ion-list>
            <ion-item>
              <ion-label floating>Tag</ion-label>
              <ion-input type="text" value=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Address</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <button ion-button>Save Details</button>
            </ion-item>
          </ion-list>
    </div>
  </ion-content>
