<!--
  Generated template for the PlannerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>Planner</ion-title>
    </ion-navbar>

</ion-header>


<ion-content no-padding>

    <div style="background: #e61022;">

        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <ion-label color="light">From</ion-label>
                </ion-col>
                <ion-col col-10>
                    <google-auto-complete-search (onSearchSelected)="handleSource($event)" [source]="source"></google-auto-complete-search>
                </ion-col>
                <!--<ion-col col-1 style="margin: auto;">
                    <ion-icon name="swap" (click)="toggleSources()" style="zoom: 1.6;"></ion-icon>
                </ion-col>-->
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-icon name="swap" (click)="toggleSources()" style="zoom: 1.6;"></ion-icon>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <ion-label color="light">To</ion-label>
                </ion-col>
                <ion-col col-10>
                    <google-auto-complete-search (onSearchSelected)="handleDestination($event)" [source]="destination"></google-auto-complete-search>
                </ion-col>
                <!--<ion-col col-1 style="margin: auto;">
                    <ion-icon></ion-icon>
                </ion-col>-->
            </ion-row>
        </ion-grid>

        <!--<ion-row>
            <ion-label color="light">From</ion-label>
            <google-auto-complete-search (onSearchSelected)="handleSource($event)" [source]="source"></google-auto-complete-search>
        </ion-row>

        <ion-icon name="swap" (click)="toggleSources()"></ion-icon>

        <ion-row>
            <ion-label color="light">To</ion-label>
            <google-auto-complete-search (onSearchSelected)="handleDestination($event)" [source]="destination"></google-auto-complete-search>
        </ion-row>-->
    </div>

    <button ion-item color="secondary">
      <ion-icon item-start name="time" (click)="savePlannedRoute()"></ion-icon>
      Depart Now
      <ion-icon item-end name="sync" (click)="populateRoutes()"></ion-icon>
    </button>

    <ion-list padding>

        <ion-grid padding-right *ngFor="let route of previousRoutes" (click)="navigateToDirections($event, route)">
            <ion-row>
                <ion-col col-11>
                    <ion-row>
                        <ion-icon name="car" color="primary"></ion-icon>
                        <ion-label>{{ route.source.address }}</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-icon name="car" color="primary"></ion-icon>
                        <ion-label>{{ route.destination.address }}</ion-label>
                    </ion-row>
                </ion-col>
                <ion-col col-1 style="margin: auto">
                    <ion-icon name="star" color="gold" style="zoom: 1.5"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!--<ion-row *ngFor="let route of previousRoutes" (click)="navigateToDirections($event, route)">
            <ion-col>
                <ion-row no-padding no-margin>
                    <ion-icon name="car" color="primary"></ion-icon>
                    <ion-label>{{ route.source.address }}</ion-label>
                </ion-row>
                <ion-row no-padding no-margin>
                    <ion-icon name="car" color="primary"></ion-icon>
                    <ion-label>{{ route.destination.address }}</ion-label>
                </ion-row>
            </ion-col>
            <button ion-button small item-end style="margin: auto" (click)="saveTag($event, route)">Tag</button>
        </ion-row>-->

    </ion-list>
</ion-content>