// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@media only screen and (orientation: landscape) {
    .my-modal {
        .modal-wrapper {
            position: absolute;
            top: 60% !important;
            display: block;
            width: 40% !important;
            height: 25% !important;
        }
    }
}

.ion-md-time:before {
    content: "";
}

.ion-md-trending-up:before {
    content: "";
}

.ion-md-warning:before {
    content: "";
}

.ion-md-settings:before {
    content: "";
}

.ion-md-glasses:before {
    content: "";
}

.ion-md-thumbs-up:before {
    content: "";
}

.ion-md-information-circle:before {
    content: "";
}

.ion-md-call:before {
    content: "";
}

.ion-md-locate:before {
    content: "";
}

.ion-md-sync:before {
    content: "";
}

.ion-md-swap:before {
    content: "";
}

.ion-md-car:before {
    content: "";
}

.ion-md-star:before {
    content: "";
}

ion-icon::before {
    display: block !important;
}

ion-icon {
    margin: auto !important;
}