<!-- Generated template for the GoogleAutoCompleteSearchComponent component -->
<ion-searchbar [(ngModel)]="autoCompleteData" (ionInput)="searchPlace()" [placeholder]="searchPlaceholder"></ion-searchbar>
<ion-list [hidden]="autoCompleteItems.length == 0">
    <ion-item *ngFor="let item of autoCompleteItems" tappable (click)="onSearchSelected(item)">
        {{ item.description }}
    </ion-item>
</ion-list>