<ion-item>
    <ion-label floating>Tag</ion-label>
    <ion-select (ionChange)="onTagChanged($event)" [ngModel]="selectedTagOption">
        <ion-option *ngFor="let option of tagOptions" [value]="option.tag">{{option.tag}}</ion-option>
    </ion-select>
</ion-item>
<ion-item *ngIf="'others' === selectedTagOption.toLowerCase()">
    <ion-label floating>Enter Tag Name</ion-label>
    <ion-input type="text" [ngModel]="customTagName" (input)="onTagEntered($event)"></ion-input>
</ion-item>
<ion-item>
    <ion-label floating>Address</ion-label>
    <ion-input [ngModel]="address" type="text" disabled="true"></ion-input>
</ion-item>
<ion-item>
    <button ion-button [disabled]="saveDisabled" (click)="onSaveClicked()">Save</button>
    <button ion-button (click)="close()">Cancel</button>
</ion-item>